.btn {
    border-radius: .3rem;
    transition: all .1s;
}
.btn--link {
    background-color: transparent;

    &:hover {
        background-color: $btn-link-hover-color;
    }

    &:active {
        background-color: $btn-link-active-color;
    }
}